{% extends 'layouts.njk' %}


{% block content %}

<div class="card">
    <section class="avatar" style="background: url(https://source.unsplash.com/collection/5041380/900x900) no-repeat center center / cover">

    </section>

    <section class="details">

        <h3>Details</h3>

    <div class="item">
        <div>Name</div>
        <div>Chuck Noris</div>
    </div>

    <div class="item">
        <div>Age</div>
        <div>47</div>
    </div>

    <div class="item">
        <div>Degree</div>
        <div>Master Business</div>
    </div>

    <div class="item">
        <div>Type class</div>
        <div>Presential</div>
    </div>

    <div class="item">
        <div>Attendance</div>
        <div>
            <span>Matematic</span>
            <span>Logic</span>
            <span>Psicology</span>
        </div>
    </div>

    <div class="item">
        <div>Since</div>
        <div>04/08/1972</div>
    </div>

    </section>

</div>

{% endblock content %}

